<div class="container">


    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Create new user</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-dialog-centered">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header-1">
                    <h5>Create new user</h5>
                    <mat-form-field>
                        <input matInput type="search" placeholder="Search Employee AD ID" class="search-input">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </div>
                <div class="modal-body-1">
                    <div class="row-first">
                        <div class="col-4">
                            <mat-form-field>
                                <input matInput type="text" placeholder="Employee AD ID" class="text-input">
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field>
                                <input matInput type="text" placeholder="User name" class="text-input">
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field>
                                <input matInput type="text" placeholder="Employee email ID" class="text-input">
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="row-second">
                        <div class="col-4">
                            <mat-form-field>
                                <!-- <input matInput [matDatepicker]="picker" placeholder="Mail Date"> -->
                                <input matInput [matDatepicker]="picker" placeholder="Mail date">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field>
                                <mat-label>Country</mat-label>
                                <mat-select [formControl]="countries" multiple>
                                    <mat-option *ngFor="let country of countryList" [value]="country">{{country}}</mat-option>
                                </mat-select>

                                <!-- <input matInput type="text" placeholder="Country" class="text-input"> -->
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field>
                                <!-- <input matInput type="text" placeholder="Location" class="text-input"> -->
                                <mat-label>Location</mat-label>
                                <mat-select [formControl]="locations" multiple>
                                    <mat-option *ngFor="let location of locationList" [value]="location">{{location}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="access" style="padding: 5px;">
                        <label for="">Access Permission</label>
                    </div>
                    <div class="row-third" style="padding: 5px;
                        display: flex;
                        align-items: flex-start;justify-content: flex-start;">
                        <div class="col-4" style="margin-right: 2vw;">
                            <mat-checkbox>PF Application</mat-checkbox>
                        </div>
                        <div class="col-4" style="margin-right: 2vw;">
                            <mat-checkbox>Report</mat-checkbox>
                        </div>
                        <div class="col-4" style="margin-right: 2vw;">
                            <mat-checkbox>Manage user</mat-checkbox>
                        </div>
                    </div>
                </div>

                <div class="modal-footer-1">
                    <button type="button" class="btn btn-gray" data-dismiss="modal">Reset</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal" style="margin-right: 2vw;">Cancel</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>

                </div>
            </div>
        </div>

    </div>
</div>